* {
  border: 0px;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

footer {
  padding-top: 2vh;
  background-color: #682383;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vh;
  padding-bottom: 1vh;
}
footer ul {
  display: flex;
  gap: 5vw;
  padding-top: 2vh;
}
footer ul a {
  color: white;
  gap: 3vw;
  text-decoration: none;
}
footer ul a:hover {
  background-color: white;
  color: #682383;
  padding: 1vh;
  border-radius: 10px;
}
footer hr {
  width: 80vw;
  height: 3px;
}
footer p {
  font-size: 0.9rem;
}

header {
  background-image: url(../images/imagenheader.jpeg);
  height: 70vh;
  background-size: cover;
  font-size: 0.8rem;
  padding-top: 0px;
  margin-top: 0px;
  color: white;
}
header div {
  display: flex;
  align-items: space-between;
}
header div img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}
header:visited {
  color: white;
}
header .navv {
  color: white;
  padding-top: 0px;
  margin-top: 0px;
  background-color: rgba(104, 35, 131, 0.3882352941);
}
header nav {
  height: 10vh;
  padding-right: 5vh;
  padding-top: 0px;
}
header nav img {
  height: 100%;
  object-fit: cover;
}
header nav ul {
  justify-content: end;
  gap: 40px;
}
header nav ul:visited {
  color: white;
}

.nav-item a {
  color: white;
}
.nav-item a:hover {
  font-size: 2.5vh;
  font-weight: bold;
  background-color: #682383;
  border-radius: 30px;
  padding: 3px;
}
.nav-item a:hover:visited {
  color: white;
}

.boton {
  background-color: #682383;
  color: white;
  fill: white;
}

.cardvioleta {
  background-color: #682383;
}
.cardvioleta img {
  width: 100%;
  object-fit: cover;
  height: 50vh;
}
.cardvioleta__info {
  padding-top: 3vh;
  padding-left: 3vh;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-between;
  padding-bottom: 3vh;
  color: white;
}
.cardvioleta__info h3 {
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .cardvioleta {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 5vh;
  }
  .cardvioleta__info {
    padding-left: 5vh;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .cardvioleta img {
    object-fit: cover;
    width: 50vw;
    height: 50vh;
  }
}
.cardblanca {
  display: flex;
  flex-direction: column-reverse;
}
.cardblanca img {
  width: 100%;
  object-fit: cover;
  height: 50vh;
}
.cardblanca__info {
  padding-top: 3vh;
  padding-left: 3vh;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-between;
  padding-bottom: 3vh;
  color: #682383;
}
.cardblanca__info h3 {
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .cardblanca {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 5vh;
  }
  .cardblanca__info {
    padding-left: 5vh;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .cardblanca img {
    object-fit: cover;
    width: 50vw;
    height: 50vh;
  }
}
.secciones-1 {
  height: auto;
  display: flex;
  padding: 5vh;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  font-size: 4vh;
  text-align: center;
  gap: 3vh;
  padding: 3vh;
  color: #682383;
}
.secciones-1 img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 375px) {
  .secciones-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
  }
  .secciones-1 img {
    width: 100%;
    object-fit: cover;
  }
}

.section-2 {
  height: auto;
  display: grid;
  grid-template-columns: 2fr 2fr;
  background-color: #682383;
  padding-left: 5vh;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
  text-align: center;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 10px;
}
.section-2 img {
  object-fit: cover;
  width: 50vw;
  height: 100%;
}
.section-2 h2 {
  padding-top: 3vh;
}
.section-2 p {
  font-size: 4vh;
  padding: 1vh;
}
@media (max-width: 375px) {
  .section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    padding: 0px;
  }
  .section-2 img {
    width: 100%;
    object-fit: cover;
  }
  .section-2 div {
    padding: 1vw;
  }
}

.section-3 {
  display: flex;
  flex: column;
  padding: 5vh;
  font-size: 4vh;
  flex-direction: column;
  align-items: center;
}
.section-3 p {
  text-align: center;
}
@media (max-width: 375px) {
  .section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5vw;
    width: auto;
  }
  .section-3 p {
    text-align: center;
  }
}

form label {
  display: none;
}

.section-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #343f4e;
  color: white;
  padding-bottom: 3vh;
  height: auto;
  padding-top: 2vh;
  font-size: 2vh;
  padding-bottom: 3vh;
  text-align: center;
}
.section-4 h3 {
  padding-top: 2vh;
}
.section-4 p {
  font-size: 1rem;
}
.section-4 form {
  display: flex;
  gap: 3vw;
  padding-bottom: 2vh;
}
.section-4 form input {
  font-size: 2vh;
  padding: 1vh;
  border-radius: 10px;
  text-align: center;
}
.section-4 form .submit:hover {
  background: #682383;
  font-size: 2.2vh;
  color: white;
  border-radius: 5px;
  padding: 1vh;
}
@media (max-width: 375px) {
  .section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5vh;
    width: auto;
    height: auto;
  }
  .section-4 form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
}

.contacto {
  color: #682383;
  font-size: 1.5rem;
  text-align: center;
}

.redes {
  background-color: #682383;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 10px;
  padding: 5vh;
}
.redes div {
  display: flex;
  gap: 10vw;
  align-items: center;
  justify-content: center;
}

.llegar {
  color: #682383;
  font-size: 1.5rem;
  padding: 4vh;
  text-align: center;
}
.llegar h3 {
  font-size: 2rem;
  padding-top: 3vh;
}
.llegar i {
  font-size: 2rem;
  font-weight: 400;
}
.llegar div ul li {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

@media (min-width: 768px) {
  .contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    padding: 5vh;
  }
  .transportes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
  }
}
img {
  object-fit: cover;
  width: 100%;
}

.horarios {
  color: #682383;
  list-style: none;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  padding: 5vh;
}
.horarios span {
  font-size: 20vh;
}
@media (min-width: 375px) {
  .horarios .horarios {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20vw;
  }
}

.titulo {
  color: #682383;
  font-size: 15vh;
  text-align: center;
  padding: 5vh;
  font-weight: bold;
}

@media (max-width: 375px) {
  .titulo {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
