.cardblanca {
    img {
        width: 100%;
        object-fit: cover;
        height: 50vh;
    }
    display: flex;
    flex-direction: column-reverse;

    &__info {
        padding-top: 3vh;
        padding-left: 3vh;
        display: flex;
        flex-direction: column;
        align-items: space-around;
        justify-content: space-between;
        padding-bottom: 3vh;
        color: $color-principal;

        h3 {
            font-size: 2rem;
            text-align: center;
        }
    }

}


@media(min-width: 768px){
    .cardblanca {
        display: grid;
    grid-template-columns: 2fr 2fr;
        align-items: center;
        justify-content: space-evenly;
        max-height: 50vh;


        &__info {
            padding-left: 5vh;
            height: auto;
            width: 100%;
            align-items: center;
            justify-content: center;
        }

        img {
            object-fit: cover;width:50vw; height:50vh
    }}}